<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kraken Movie</title>

    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" type="text/css" href="/public/scss/styles.css">
    
</head>

<body>

<header>
    <nav>
        <div>
            <a href="/"><span>Kraken Movie</span></a>
        </div>
        <ul>
            <a href="/">Search</a>
            <a href="/apropos">About</a>
        </ul>
    </nav>
</header>