<pre id="data" style="display:none;" data-apikey="<%= api_key %>" data-apiurl=<%= api_url %>></pre>
<div>
    <input type="text" name="search" id="search" placeholder="your search">
    <button id="searchBtn">Search</button> 
</div>

<div id="modalResults">

</div>