<% include ./partials/head %>

<section id="home">
    <div class="overlay-home"></div>
    <div class="container">

        <div class="title">
            <h1>Kraken Movie</h1>
            <h2>Are you looking for a movie, Kraken Movie will find it<span class="dot">.</span></h2>
        </div>
    
        <div class="searchArea">
            <%include ./partials/search-form %>
        </div>
    </div>

</section>

<% include ./partials/footer %>