$marineBlueHeavy : #262b32;
$marineBlue: #292f36;
$marineBlueLight: #3c4148;

$blueHeavy : #47bbb3;
$blue: #4ecdc4;
$blueLight: #5ed1c9;

$whiteHeavy: #e8e8e8;
$white: #ffffff;

$redHeavy: #e86262;
$red: #ff6b6b;
$redLight: #ff7878;

$greyHeavy: #bbbbbb;
$grey: #cdcdcd;
$greyLight: #d1d1d1;