*{
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2{
    font-size: 30px;
    letter-spacing: 2px;
}

body{
    background: $white;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #fff;
    a{
        transition: all linear 0.4s;
        &:hover{
            background-color: $marineBlueLight;
        }
    }
    nav{
        display: flex;
        height: 45px;
        align-items: center;
        background-color: $marineBlue;
        div{
            width: 30%;
            a{
                padding: 10px;
                font-family: 'Oswald', sans-serif;
                color: #fff;
                text-decoration: unset;
                text-transform: uppercase;
                span{
                    
                    font-size: 20px;
                    letter-spacing: 3px;
                }

            }
        }
        ul{
            width: 70%;
            display: flex;
            justify-content: flex-end;
            a{
                color: #fff;
                text-decoration: none;
                padding: 10px;
                font-size: 20px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }
}


.container{
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 1400px){
        max-width: 1300px;
    }
}

.text-center{
    text-align: center;
}



#home{
    min-height: 100vh;
    position: relative;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center; 

    .overlay-home{
        background: black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        filter: blur(4px);
    }

    .title{
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: $white;
        .dot{
            font-size: 50px;
            color: $blueHeavy;
        }
    }
}

#movie-details{

    position: relative;
    min-height: 100vh;
    .bg-poster{
        position: relative;
        min-height: 80vh;
        background-position: top center;
        background-size: cover;
        .overlay{
            background: black;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
            z-index: 10;
            filter: blur(4px);
        }
        .head-info{
            position: absolute;
            text-align: center;
            top: 20%;
            left: 0;
            right: 0;
            z-index: 20;
            @media screen and (min-width: $smScreen){
                top: 35%;
            }
            h1{
                color: #fff;
            }
            span{
                cursor: pointer;
                width: 200px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px auto;
          
                font-size: 20px;
                color: #fff;
                cursor: pointer;

                text-decoration: unset;

                svg{
                    margin-right: 20px;
                }
            }
        }
    }
    .card{
        background: $white;
        z-index: 10;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        .container{
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }
        h2{
            text-align: center;
            letter-spacing: 1px;
            font-weight: $fBold;
            font-size: 42px;
            margin-bottom: 40px;
        }
        h3{
            text-align: center;
            letter-spacing: 1px;
            font-weight: $fBold;
            font-size: 30px;
            margin-bottom: 40px;
        }
        p{
            font-size: 24px;
            margin-bottom: 30px;
            line-height: 40px;
        }
        .genre{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin: 40px 0;
            @media screen and (min-width: $smScreen){
                flex-direction: row;
            }
            .chips{
                width: 125px;
                margin: 5px auto;
                padding:  10px 15px;
                border-radius: 20px;
                text-align: center;
                font-size: 12px;
                background-color: $blue;
                color: #fff;
                text-transform: uppercase;
                font-weight: $fSemiBold;
                @media screen and (min-width: $smScreen){
                    margin: 0 10px;
                    width: 150px;
                    font-size: 16px;
                }
            }
        }

        .companies, .countries{
            display: flex;
            justify-content: space-between;
            margin: 40px 0;
            font-size: 24px;
            span{
                strong{
                    font-size: 28px;
                }
            }
        }
    }
    #modal-trailer{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 120;

        .overlayTrailer{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.3;
        }
        .modal{
            background-color:  #fff;
            z-index: 130;
            position: fixed;
            width: 80%;
            top: 5vh;
            left: 0;
            right: 0;
            margin: auto;
            padding: 20px;
            border-radius: 8px;
            border: solid 1px black;
        }
    }

}

.small-footer{
    width: 100%;
    color: #fff;
    background-color: #292f36;
    a{
        text-decoration: unset;
        color: #fff;
    }
    .container{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px 0;
        @media screen and (min-width: $mdScreen){
            flex-direction:  row;
        }
    }
    .made, .thanks{
        width: 100%;
        text-align: center;
        margin: 10px 0;
        @media screen and (min-width: $mdScreen){
            width: 50%;
        }
    }
    .thanks{
        @media screen and (min-width: $mdScreen){
            text-align: right;
        }
    }
    .made{
        @media screen and (min-width: $mdScreen){
            text-align: left;
        }
    }
}